<% provide(:title, 'About') %>
<div id="bg-illust">
	
</div>
<div class="container" id="page-wrapper">
	<div class="container content">
		<div class="row">
			<div class="col-md-12">
				<h1>What is Travelox?</h1>
				<p>Travelox is a travel site in which you are able to find information about popular destinations in the world. Learn a bit about the culture of popular destinations, as well as some of the culture, food, as well as how to get around the city. You can also find information on all the ways to get to your next destination such as through romantic train rides through the alps or a casual bus downtown in Hong Kong</p>
			</div>
			<div class="col-md-8">
				<h1>The Travelox Advantage</h1>
				<ul>
					<li>Find the ways to your destination, be it via train, plane, or even ferry</li>
					<li>Learn about the cities before you plan anything</li>
					<li>Learn about the foods and hidden locations that you may be missing out on elsewhere</li>
					<li>Best of all, searching is free</li>
				</ul>
			</div>
			<%= image_tag("about-img.jpg", class: "img-thumbnail col-md-4 about-img", alt:"kit-kat") %>
			<div class="col-md-12">
				<h3>What are some of the information offered?</h3>
				<p>We offer information for some of the most popular destinations such as San Francisco.</p>
				<p>We give tips on some of the best places to eat, shop, and experience the culture</p>
				<p>We give you the knowledge to come prepared to do what a local would do</p>
			</div>
			<div class="col-md-8">
				<h3>Traveling is all about immersing yourself in other cultures</h3>
				<p>No one travels just to do what they normally do in other cultures, one wouldn't travel to China and only eat hamburgers</p>
				<p>Travel is all about eating new things, and learning new things about other cultures and expanding your interests and learning about yourself</p>
				<p>Get out there and try new things that other cultures would find normalplace, such as using chopsticks and learn a little more about yourself</p>
			</div>
			<%= image_tag("about-img1.jpg", class: "img-thumbnail col-md-4 about-img", alt:"chirashi") %>
			<div class="col-md-12">
				<h3>Use Travelox Today!</h3>
				<p>Searching is free, sign up and search today!</p>
				<% if signed_in? %>
				<div class="signed_in"><%= link_to 'Search', search_path, class: 'btn btn-info', id: 'search_btn'%></div>
				<% else %>
        	  	<div class="signed_out"><p><a href="#signup-modal" data-toggle="modal">Sign up</a> or <a href="#login-modal" data-toggle="modal">Login</a> to search</p></div>	
				<% end %>
			</div>
		</div>
	</div>
</div>