<% provide(:title, 'Home') %>
<div id="bg-illust">
	
</div>
<div class="container">
	<div class="container content">
		<div>
			<h1>Have an travel destination in mind?</h1>
			<p>Here in travelox, you are empowered to finally look up and book the tickets to the destinations of your dreams</p>
			<p>No more waiting nada</p>
		</div>
		<div class="pull-left">
			<div class="col-md-9">
				<h3>Coo</h3>
				<p>Random stuff</p>
				<p>Random picture to the right</p>
			</div>
			<aside class="pull-right col-md-3">
				<img src="assets/home-img1.jpg" class="img-thumbnail">
				
			</aside>
		</div>
		<div>
			<h3>The Travelox Advantage</h3>
			<p class="col-md-4 text-center">Quickly be able to search up destinations whether by plane, bus, train, boat</p>
			<p class="col-md-4 text-center">Gain insights into the destirnations you've always been thinking about</p>
			<p class="col-md-4 text-center">Learn about the places that you've always wanted to visit</p>
		</div>
		<div>
			<h3>Use Travelox Today!</h3>
			<p>Coo</p>
			<p>Coo</p>
			<%= link_to 'Use', '#', class: 'btn btn-info'%>
		</div>
	</div>
</div>