<% provide(:title, 'Home') %>
<div id="bg-illust">
	
</div>
<div class="container" id="home-wrapper">
	<div class="home-info text-center">
		<h1>Travelox</h1>
		<h4>Sometimes what you are looking for are closer than you think</h4>
		<%= link_to 'Find out more', about_path, class: 'btn btn-info' %>
	</div>
</div>