<% provide(:title, 'Search') %>
<div id="bg-illust">
	
</div>
<div class="container" id="page-wrapper">
	<div class="container content">
		<div>
			<h1>This service ain't quite done yet</h1>
			<p>Sorry, this is service is not available yet, please come back and check it out when it is finished</p>
			<p>In the mean while, why don't you check out the information on some of the world's most popular destinations</p>
			<br />
		</div>
		
		<div id="search-carousel" class="carousel slide col-md-5 col-md-offset-3" data-ride="carousel">
		  <!-- Indicators -->
		  <ol class="carousel-indicators">
		    <li data-target="#search-carousel" data-slide-to="0" class="active"></li>
		    <li data-target="#search-carousel" data-slide-to="1"></li>
		    <li data-target="#search-carousel" data-slide-to="2"></li>
		    <li data-target="#search-carousel" data-slide-to="3"></li>
		  </ol>

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
			  <%= image_tag("img1.jpg", alt: "Milan") %>
		    </div>

		    <div class="item">
			  <%= image_tag("img2.jpg", alt: "Prague") %>
		    </div>

		    <div class="item">
			  <%= image_tag("img3.jpg", alt: "Hyogo Prefecture") %>
		    </div>

		    <div class="item">
			  <%= image_tag("img4.jpg", alt: "Seoul") %>
		    </div>
		  </div>

		  <!-- Left and right controls -->
		  <a class="left carousel-control" href="#search-carousel" role="button" data-slide="prev">
		    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		    <span class="sr-only">Previous</span>
		  </a>
		  <a class="right carousel-control" href="#search-carousel" role="button" data-slide="next">
		    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		    <span class="sr-only">Next</span>
		  </a>
		</div>
	</div>
</div>