//Setup the modals
$(document).ready(function(){
    $("#signup").click(function(){
        $("#signup-modal").modal();
    });
    $("#login").click(function(){
        $("#login-modal").modal();
    });
});

//Ajax correctors
$(document).ready(function() {

	//Ajax checker the forgot password form
	$("#forgot_password_user").on("ajax:success", function(e, data, status, xhr) {
		if(data.success ==  true){
			$('#forgot_password_user').prepend('<div class="alert alert-success fade in">' +
											  '<button type="button" class="close" data-dismiss="alert" >×</button>' + 
			 								  '<p>Reset email sent</p>' + 
			 								  '</div>');
		}
		else{
			$('#forgot_password_user').prepend('<div class="alert alert-warning fade in">' +
											  '<button type="button" class="close" data-dismiss="alert" >×</button>' + 
			 								  '<p>User does not exist</p>' + 
			 								  '</div>');
		}
	}).on("ajax:error", function(e, xhr, status, error) {
		$('#forgot_password_user').prepend('<div class="alert alert-danger fade in">' +
									      '<button type="button" class="close" data-dismiss="alert" >×</button>' + 
									      '<p>Error connecting to server</p>' + 
									      '</div>');
	});


});