<% provide(:title, 'Milan') %>
<div id="bg-illust">
</div>
<div class="container">
	<div class="container content">
		<div>
			<h1>Have an travel destination in mind?</h1>
			<p>Here in travelox, you are empowered to finally look up and book the tickets to the destinations of your dreams, no more waiting nada!</p>
			<p>Learn more about your destinations and go there with the knowledge of a local!</p>
		</div>
		<div class="pull-left">
			<div class="col-md-9">
				<h3>Ever eaten one of these?</h3>
				<p>Learn more about the culture, food, other hidden gems that you may not have known about</p>
				<p>Get off the touristy beaten path and learn more about the local culture that you will not experience anywhere else</p>
				<p>Find out about foods that you would be hard pressed to find back home</p>
				<p>Sometimes, planning a trip ahead can lead to hidden treasures such as world famous restaurants, popular bakeries, pubs, things that would be hidden if searched otherwise</p>
			</div>
			<aside class="pull-right col-md-3">
				
				
			</aside>
		</div>
		<div>
			<h3>The Travelox Advantage</h3>
			<p class="col-md-4 text-center">Quickly be able to search up destinations whether by plane, bus, train, boat</p>
			<p class="col-md-4 text-center">Gain insights into the destirnations you've always been thinking about</p>
			<p class="col-md-4 text-center">Learn about the places that you've always wanted to visit</p>
		</div>
		<div>
			<h3>Use Travelox Today!</h3>
			<p>Still curious about our service?</p>
			<%= link_to 'About', about_path, class: 'btn btn-info'%>
		</div>
	</div>
</div>