<% provide(:title, 'Milan') %>
<div id="mxp-illust"></div>
<div class="container">
	<div class="container content">
		<div class="dest-overview">
			<h1>Milan</h1>
			<h2>Overview</h2>
			<p>Milan is the second-most populous city in Italy, serves as the capital of Lombardy. The city proper has a population of about 1.3 million, while its urban area (the 5th-largest in the EU) comprises an estimated 5,264,000 people. The massive suburban sprawl that followed the post-war boom of the 1950s–1960s and the growth of a vast commuter belt suggest that socioeconomic linkages have expanded well beyond the boundaries of its administrative limits and its agglomeration, creating a polycentric metropolitan area of 7 to 10 million people, stretching over the provinces of Milan, Bergamo, Como, Lecco, Lodi, Monza and Brianza, Pavia, Varese and Novara. The Milan metropolitan region is part of the so-called Blue Banana, the area of Europe with the highest population and industrial density. In terms of GDP, Milan has the third largest economy among EU cities and the largest among European non-capital cities</p>
		</div>
		<div class="dest-cont">
			<div class="">
				<h2>Culture</h2>
				<p>Milan is home to many cultural institutions, museums and art galleries, that account for about a tenth of the national total of visitors and recepits. The Pinacoteca di Brera is one of Milan's most important art galleries. It contains one of the foremost collections of Italian painting, including masterpieces such as the Brera Madonna by Piero della Francesca. The Castello Sforzesco hosts numerous art collections and exhibitions, especially statues, ancient arms and furnitures, as well as the Pinacoteca del Castello Sforzesco, with an art collection including Michelangelo's last sculpture, the Rondanini Pietà, Andrea Mantegna's Trivulzio Madonna and Leonardo da Vinci's Codex Trivulzianus manuscript. The Castello complex also includes The Museum of Ancient Art, The Furniture Museum, The Museum of Musical Instruments and the Applied Arts Collection, The Egyptian and Prehistoric sections of the Archaeological Museum and the Achille Bertarelli Print Collection.</p>
			</div>
			<div>
				<h2>Transportation</h2>
				<p>Milan has an extensive internal transport network and is also an important transportation node in Italy, being one of the country's biggest hubs for air, rail and road networks. Internal public transport network includes the Metro, the Suburban Railway, the tram and bus network, as well as taxi, car and bike sharing services.</p>
			</div>
			<div>
				<h2>Food</h2>
				<p>Like most cities in Italy, Milan has developed its own local culinary tradition, which, as it is typical for North Italian cuisines, uses more frequently rice than pasta, butter than vegetable oil and features almost no tomato or fish. Milanese traditional dishes includes cotoletta alla milanese, a breaded veal (pork and turkey can be used) cutlet pan-fried in butter (similar to Viennese "Wienerschnitzel"). Other typical dishes are cassoeula (stewed pork rib chops and sausage with Savoy cabbage), ossobuco (braised veal shank served with a condiment called gremolata), risotto alla milanese (with saffron and beef marrow), busecca (stewed tripe with beans), and brasato (stewed beef or pork with wine and potatoes). Season-related pastries include chiacchiere (flat fritters dusted with sugar) and tortelli (fried spherical cookies) for Carnival, colomba (glazed cake shaped as a dove) for Easter, pane dei morti ("Deads' Day bread", cookies aromatized with cinnamon) for All Souls' Day and panettone for Christmas. The salame Milano, a salami with a very fine grain, is widespread throughout Italy. Renowned Milanese cheeses are gorgonzola (from the namesake village nearby), mascarpone, used in pastry-making, taleggio and quartirolo.</p>
			</div>
			<div>
				<h2>Entertainment</h2>
				<p>Milan is a great city to walk around and see the sights and people.</p>
			</div>
		</div>
	</div>
</div>