<% provide(:title, 'Tokyo') %>
<div id="nrt-illust"></div>
<div class="container">
	<div class="container content">
		<div class="dest-overview">
			<h1>San Francisco</h1>
			<h2>Overview</h2>
			<p>San Francisco is a popular tourist destination,known for its cool summers, fog, steep rolling hills, eclectic mix of architecture, and landmarks including the Golden Gate Bridge, cable cars, the former Alcatraz Federal Penitentiary, and its Chinatown district. San Francisco is also the headquarters of five major banking institutions and various other companies such as Levi Strauss & Co., Gap Inc., Salesforce.com, Dropbox, Reddit, Square, Inc., Airbnb, Weebly, Pacific Gas and Electric Company, Yelp, Pinterest, Twitter, Uber, Mozilla, Wikimedia Foundation and Craigslist.</p>
		</div>
		<div class="dest-cont">
			<div class="">
				<h2>Culture</h2>
				<p> San Francisco is also characterized by its numerous culturally rich streetscapes featuring mixed-use neighborhoods anchored around central commercial corridors to which residents and visitors alike can walk. Because of these characteristics, San Francisco is ranked the second "most walkable" city in the U.S. by Walkscore.com. Many neighborhoods feature a mix of businesses, restaurants and venues that cater to both the daily needs of local residents while also serving many visitors and tourists. Some neighborhoods are dotted with boutiques, cafes and nightlife such as Union Street in Cow Hollow, 24th Street in Noe Valley, Valencia Street in the Mission, Grant St. in North Beach, and Irving Street in the Inner Sunset. This approach especially has influenced the continuing South of Market neighborhood redevelopment with businesses and neighborhood services rising alongside high-rise residences</p>
			</div>
			<div>
				<h2>Transportation</h2>
				<p>Transportation in the San Francisco Bay Area is reliant on a complex multimodal infrastructure consisting of roads, bridges, highways, rail, tunnels, airports, and bike and pedestrian paths. The development, maintenance, and operation of these different modes of transportation are overseen by various agencies, including the California Department of Transportation (Caltrans), the Association of Bay Area Governments, San Francisco Municipal Transportation Agency, and the Metropolitan Transportation Commission. These and other organizations collectively manage several interstate highways and state routes, two subway networks, two commuter rail agencies, eight trans-bay bridges, a ferry, local bus service, three international airports, and an extensive network of roads, tunnels, and bike paths. A 2011 Brookings Institution study ranked the San Francisco MSA and the San Jose MSA sixteenth and second, respectively, on transit coverage to job access. Another nationwide study, conducted by the University of Minnesota in 2014, ranked the San Francisco MSA second and San Jose MSA tenth.</p>
			</div>
			<div>
				<h2>Food</h2>
				<p>San Francisco is a sensual, epicurean city with a vast array of restaurants. In fact, San Francisco has more restaurants per capita than any major city in North America, with 1 restaurant for every 250 residents (in comparison, New York City has 1 restaurant for every 940 residents). The price range is huge, and you can spend anywhere from a small fortune to a couple bucks for every type of cuisine. Vegetarians and vegans will find SF a paradise, however contrary to popular belief the city has one of the lowest rates of vegetarian consumers in the nation. Sushi is a local obsession, and though you can find a sushi bar on almost every street corner, the Richmond district has more than its fair share of excellent sushi chefs.</p>
				<p>San Francisco is also one of the best places in the nation for Asian cuisine: Korean, Thai, Indian, Burmese, Japanese and, of course, Chinese. With the largest Chinatown in North America as well as one of the largest Chinese communities in the West, there are many exceptional restaurants serving dim sum and other Chinese delicacies found throughout the city. This localized Chinese cuisine has its feet in Hong Kong and America, and is different from what many visitors are accustomed to — it is common to hear complaints from Chinese visitors that Chinese food here is not like the food back home. There are several main types of Chinese restaurants in San Francisco: those primarily serving immigrants from Hong Kong ("Hong Kong style") which commonly have signs on the wall in Chinese characters, live fish and shellfish tanks and some exotic main ingredients, such as pig's blood or sea cucumber; those primarily serving San Franciscans who are not Asian immigrants ("California Chinese") which commonly have Westernized table service, low fat content and more emphasis on fresh vegetables; those primarily serving tourists or other people accustomed to Chinese food as it is commonly served in the United States ("Americanized Chinese"); and those primarily serving immigrants from other areas or a particular dietary need or interest (regional cuisines, vegetarian, Muslim). There may be some mixing between these various classifications and each category may influence the others, for instance, the Americanized dish known as Chop Suey is often not served even at Americanized Chinese restaurants in San Francisco, while Chinese vegetables such as bok choy and pea sprouts may turn up on your plate at California Cuisine style restaurants.
				</p>
				<p>Fisherman's Wharf serves fresh seafood, especially clam chowder and crabs cooked to order. North Beach is the place to go for Italian food, and the Mission (birth place of the mission style burrito) for Mexican and Latin American cuisine of all sorts. San Francisco restaurants are also very corkage friendly. Average corkage fee appears to be in the $15 range, with some of the more pricey places charging $25-35.</p>
			</div>
			<div>
				<h2>Entertainment</h2>
				<p>There is an incredible array of events going on in San Francisco — virtually every day there will be something of interest to anyone going on, and San Francisco's mild climate ensures that practically every weekend will bring another major festival or some sort of large event.</p>
			</div>
		</div>
	</div>
</div>