<% provide(:title, 'Tokyo') %>
<div id="nrt-illust"></div>
<div class="container">
	<div class="container content">
		<div class="dest-overview">
			<h1>Tokyo</h1>
			<h2>Overview</h2>
			<p>Tokyo, is one of the 47 prefectures of Japan,[6] and is both the capital and largest city of Japan. The Greater Tokyo Area is the most populous metropolitan area in the world. It is the seat of the Emperor of Japan and the Japanese government. Tokyo is in the Kantō region on the southeastern side of the main island Honshu and includes the Izu Islands and Ogasawara Islands. Formerly known as Edo, it has been the de facto seat of government since 1603 when Shogun Tokugawa Ieyasu made the city his headquarters. It officially became the capital after Emperor Meiji moved his seat to the city from the old capital of Kyoto in 1868; at that time Edo was renamed Tokyo. Tokyo Metropolis was formed in 1943 from the merger of the former Tokyo Prefecture (東京府 Tōkyō-fu) and the city of Tokyo (東京市 Tōkyō-shi).</p>
		</div>
		<div class="dest-cont">
			<div class="">
				<h2>Culture</h2>
				<p>Tokyo has many museums. In Ueno Park, there is the Tokyo National Museum, the country's largest museum and specializing in traditional Japanese art; the National Museum of Western Art and Ueno Zoo. Other museums include the National Museum of Emerging Science and Innovation in Odaiba; the Edo-Tokyo Museum in Sumida, across the Sumida River from the center of Tokyo; the Nezu Museum in Aoyama; and the National Diet Library, National Archives, and the National Museum of Modern Art, which are near the Imperial Palace.</p>
			</div>
			<div>
				<h2>Transportation</h2>
				<p>Tokyo, as the center of the Greater Tokyo Area, is Japan's largest domestic and international hub for rail, ground, and air transportation. Public transportation within Tokyo is dominated by an extensive network of clean and efficient trains and subways run by a variety of operators, with buses, monorails and trams playing a secondary feeder role.</p>
			</div>
			<div>
				<h2>Food</h2>
				<p>The sheer quantity, variety and quality of food in Tokyo will amaze you. Department stores have food halls, typically in the basement (called depachika), with food which surpasses top delicatessens in other world cities. Some basements of train stations have supermarkets with free taste testers. It's a great way to sample some of the strange dishes they have for free. Tokyo has a large number of restaurants, so see the main Japan guide for the types of food you will encounter and some popular chains. Menus are often posted outside, so you can check the prices. Some shops have the famous plastic food in their front windows. Don't hesitate to drag the waiting staff out to the front to point at what you want. Always carry cash. Many restaurants will not accept credit cards.</p>
			</div>
			<div>
				<h2>Entertainment</h2>
				<p>Tokyo has a vast array of sights, but the first items on the agenda of most visitors are the temples of Asakusa, the gardens of the Imperial Palace (in Chiyoda) and the Meiji Shrine (明治神宮, in Harajuku).</p>
			</div>
		</div>
	</div>
</div>