<% provide(:title, 'New York City') %>
<div id="nyc-illust"></div>
<div class="container">
	<div class="container content">
		<div class="dest-overview">
			<h1>New York</h1>
			<h2>Overview</h2>
			<p>New York – often called New York City or the City of New York to distinguish it from the State of New York, of which it is a part – is the most populous city in the United States and the center of the New York metropolitan area, the premier gateway for legal immigration to the United States and one of the most populous urban agglomerations in the world. A global power city, New York exerts a significant impact upon commerce, finance, media, art, fashion, research, technology, education, and entertainment. Home to the headquarters of the United Nations, New York is an important center for international diplomacy and has been described as the cultural and financial capital of the world.</p>
		</div>
		<div class="dest-cont">
			<div class="">
				<h2>Culture</h2>
				<p> New York City has been described as the cultural capital of the world by the diplomatic consulates of Iceland and Latvia and by New York's Baruch College. A book containing a series of essays titled New York, culture capital of the world, 1940–1965 has also been published as showcased by the National Library of Australia.In describing New York, author Tom Wolfe said, "Culture just seems to be in the air, like part of the weather."</p>
				<p>Numerous major American cultural movements began in the city, such as the Harlem Renaissance, which established the African-American literary canon in the United States. The city was a center of jazzin the 1940s, abstract expressionism in the 1950s, and the birthplace of hip hop in the 1970s.[373] The city's punk and hardcore scenes were influential in the 1970s and 1980s. New York has long had a flourishing scene for Jewish American literature.</p>
				<p>The city is the birthplace of many cultural movements, including the Harlem Renaissance in literature and visual art; abstract expressionism (also known as the New York School) in painting; and hip hop, punk, salsa, disco, freestyle, Tin Pan Alley, and Jazz in music. New York City has been considered the dance capital of the world. The city is also widely celebrated in popular lore, frequently the setting for books, movies (see List of films set in New York City), and television programs. New York Fashion Week is one the world's preeminent fashion events and is afforded extensive coverage by the media. New York has also frequently been ranked the top fashion capital of the world on the annual list compiled by the Global Language Monitor.</p>
			</div>
			<div>
				<h2>Transportation</h2>
				<p>Most of NYC is laid out in a grid. By convention, Manhattan is spoken of as if it runs north to south (it's actually northeast to southwest), with streets running east and west and avenues running north and south. This makes it relatively easy and straightforward to find your way. Streets are numbered (except in downtown Manhattan) and the numbering rises as you go north. Most avenues are numbered from east to west (so First Ave is east of Second, etc.) below 59th St. Building numbering on avenues starts at the south end of the avenue and rises as you move north, while building numbering on streets starts at Fifth Ave (for the most part - see below) and increases as you go east or west crosstown.</p>
			</div>
			<div>
				<h2>Food</h2>
				<p>New York City's food culture includes a variety of international cuisines influenced by the city's immigrant history. Central European and Italian immigrants originally made the city famous for bagels, cheesecake, and New York-style pizza, while Chinese and other Asian restaurants, sandwich joints, trattorias, diners, and coffeehouses have become ubiquitous. Some 4,000 mobile food vendors licensed by the city, many immigrant-owned, have made Middle Eastern foods such as falafel and kebabs popular examples of modern New York street food. The city is also home to nearly one thousand of the finest and most diverse haute cuisine restaurants in the world, according to Michelin.The New York City Department of Health and Mental Hygiene assigns letter grades to the city's 24,000 restaurants based upon their inspection results.</p>
			</div>
			<div>
				<h2>Entertainment</h2>
				<p>New York's Broadway is famous for its many shows, especially musicals. You might want to visit TKTS online, which offers tickets for shows the same night at discounted prices, usually 50% off or visit BroadwayBox.com or NYTix.com, both community sites posting all recent Broadway discounts. TKTS has two offices, one at Times Square with lines often hours long, and a much faster one (sometimes minutes) at South Street Seaport (Corner of John St, just south of Brooklyn Bridge). Only cash is accepted at South Street. Show up at opening time for best selection. Tickets to most Broadway shows are also available from the Broadway Concierge and Ticket Center, inside the Times Square Visitor Center. They offer restaurant and hotel recommendations, parking help, and other services in addition to ticket sales, available in several languages.</p>
				<p>New York is one of the world's greatest film cities, home to a huge number of theaters playing independent and repertory programs. Many major US studio releases open earlier in New York than elsewhere (especially in the autumn) and can be found at the major cineplexes (AMC, United Artists, etc.) around the city. Be advised that, as with everything else in New York, movies are quite popular, and even relatively obscure films at unappealing times of the day can still be sold out. It's best to get tickets in advance whenever possible.</p>
			</div>
		</div>
	</div>
</div>