<% provide(:title, 'Prague') %>
<div id="prg-illust"></div>
<div class="container">
	<div class="container content">
		<div class="dest-overview">
			<h1>Prague</h1>
			<h2>Overview</h2>
			<p>Prague is the capital and largest city of the Czech Republic. It is the 15th largest city in the European Union. It is also the historical capital of Bohemia. Situated in the north-west of the country on the Vltava River, the city is home to about 1.24 million people, while its larger urban zone is estimated to have a population of nearly 2 million. The city has a temperate climate, with warm summers and chilly winters. The origin of the name Praha is rather associated with the word prah (that means a 'threshold'), which is a rapid on the river. Prague has the lowest unemployment rate in the European Union.</p>
		</div>
		<div class="dest-cont">
			<div class="">
				<h2>Culture</h2>
				<p>This magical city of bridges, cathedrals, gold-tipped towers and church domes, has been mirrored in the surface of the swan-filled Vltava River for more than ten centuries. Almost undamaged by WWII, Prague's medieval centre remains a wonderful mixture of cobbled lanes, walled courtyards, cathedrals and countless church spires all in the shadow of her majestic 9th century castle that looks eastward as the sun sets behind her. Prague is also a modern and vibrant city full of energy, music, cultural art, fine dining and special events catering to the independent traveller's thirst for adventure.</p>
			</div>
			<div>
				<h2>Transportation</h2>
				<p>The public transport infrastructure (PID, Pražská integrovaná doprava) consists of a heavily-used integrated transport system of Prague Metro (lines A, B, and C - its length is 65 km (40 mi) with 61 stations in total), Prague tram system, Prague buses, funiculars, and six ferries. Prague has one of the highest rates of public transport usage in the world,[citation needed] with 1.2 billion passenger journeys per year. Prague has about 130 bus lines (numbers 100-299) and 22 tram lines (numbers 1-26). There are also three funiculars, one on Petřín Hill, one on Mrázovka Hill and a third at the Zoo in Troja.</p>
			</div>
			<div>
				<h2>Food</h2>
				<p>Lunch is traditionally the main meal in Prague. Czech cuisine is typically based around pork or chicken with starchy side dishes such as dumplings, potatoes, or fries. Fish and beef is not as popular, though these days it is widely available. Popular Czech desserts include fruit dumplings (ovocné knedlíky), crêpes or ice cream. Most restaurants become very crowded during lunch and dinner, so consider making a reservation or eating earlier than the locals.</p>
			</div>
			<div>
				<h2>Entertainment</h2>
				<p>Since the fall of the Iron Curtain, Prague has become one of the world's most popular tourist destinations. Prague suffered considerably less damage during World War II than some other major cities in the region, allowing most of its historic architecture to stay true to form. It contains one of the world's most pristine and varied collections of architecture, from Romanesque, to Gothic, Renaissance, Baroque, Rococo, Neo-Renaissance, Neo-Gothic, Art Nouveau, Cubist, Neo-Classical and ultra-modern.</p>
			</div>
		</div>
	</div>
</div>