@import "bootstrap-sprockets";
@import "bootstrap";

$footer-color: #A3A3C2;

/*
Application
 */

.navbar {
	margin-bottom: 0;
}

//Uses Open Sans from Google fonts
body {
	font-family: 'Open Sans', sans-serif;
}

footer{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color: $footer-color;
    box-shadow: 5px -1px grey;
}

//Background image of the home page
#bg-illust{
	position: fixed;
	background: url('bg1.jpg') no-repeat center center fixed;
	background-size: cover;
	width: 100%;
	height: 100%;
}