@import "bootstrap-sprockets";
@import "bootstrap";

$footer-color: #A3A3C2;
$content-color: rgb(238, 239, 238);

/* Application */

.master{
	height: 100%;
}

.navbar {
	margin-bottom: 0;
}

//Uses Open Sans from Google fonts
body,html {
	font-family: 'Open Sans', sans-serif;
	height: 100%;
}

footer{
	width: 100%;
	bottom: 0;
	background-color: $footer-color;
    box-shadow: 5px -1px grey;
    height: 10%;
    margin-top: 120px;
    position: relative;
}

@media screen and (max-device-width: 600px) {
    footer {
		width: 100%;
		bottom: 0;
		background-color: $footer-color;
    	box-shadow: 5px -1px grey;
    	height: 10%;
    	margin-top: 120px;
    	position: absolute;
    }
}


.navbar{
	.container{
		#navbar{
			li{
				a:hover{
					color: blue;
				}
				&:hover{
					background-color: rgb(231,231,231);
				}
			}
		}
	}
}

#home-footer{
	position:absolute;
}

/* Background image base */
#sfo-illust, #bg-illust, #nyc-illust, #prg-illust, #mxp-illust, #nrt-illust{
	position: fixed;
	z-index: -1;
	min-height: 100%;
	min-width: 100%;
	width: 100%;
	height: auto;
	background-size: cover;
	top: 0;
	left: 0;
}

/* StaticPages */

#page-wrapper{
	padding-top: 30px;
	padding-bottom: 60px;

    min-height: 75%;
    height: auto;
    margin: 30px auto -60px;
    &::after{
		height: 20%;
    }
}


#page-wrapper{
	background-color: $content-color;opacity: 0.95;
    box-shadow: 2px 2px grey;
}

#home-wrapper{
	height: 80%;
}

.home-info{
	color: white;
	position: relative;
	top: 50%;
}

//Background image of the home page
#bg-illust{
	background: image-url('bg1.jpg') no-repeat center center fixed;
	background-size: cover;
}

.enticer{
	p{
		word-break: break-word;
	}
}

#about_btn, #search_btn{
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    &:hover{
    	width: 80px;
    }
}


/* Destinations */

/* Background image of San Francisco */
#sfo-illust{
	background: image-url('sfo.jpg') no-repeat right center fixed;
	background-size: cover;
}

/* Background image of New York City */
#nyc-illust{
	background: image-url('nyc.jpg') no-repeat right center fixed;
	background-size: cover;
}

/* Background image of Prague */
#prg-illust{
	background: image-url('prg.jpg') no-repeat center center fixed;
	background-size: cover;
}

/* Background image of Milan */
#mxp-illust{
	background: image-url('mxp.jpg') no-repeat center center fixed;
	background-size: cover;
}

/* Background image of Tokyo */
#nrt-illust{
	background: image-url('nrt.jpg') no-repeat bottom center fixed;
	background-size: cover;
}